{# ifupdown2 data-plane configuration (/etc/network/interfaces) rendered from the intent #}
{% set ifs = d.interfaces | default({}) %}
{% set l2 = [] %}
{% for ifname, i in ifs.items() if i.mode | default('') in ['access', 'trunk'] %}{% set _ = l2.append(ifname) %}{% endfor %}
{% if d.loopback is defined %}
auto lo
iface lo inet loopback
    address {{ d.loopback }}

{% endif %}
{% for ifname, i in ifs.items() %}
auto {{ ifname }}
iface {{ ifname }}
{% if i.description is defined %}
    alias {{ i.description }}
{% endif %}
{% set mode = i.mode | default('routed' if i.ip is defined else '') %}
{% if mode == 'access' %}
    bridge-access {{ i.vlan }}
{% elif mode == 'trunk' %}
    bridge-vids {{ i.vlans | join(' ') }}
{% elif mode == 'routed' %}
    address {{ i.ip }}
{% endif %}

{% endfor %}
{% if l2 %}
auto bridge
iface bridge
    bridge-vlan-aware yes
    bridge-ports {{ l2 | join(' ') }}
    bridge-vids {{ d.vlans | default([]) | join(' ') }}
    bridge-pvid 1
    bridge-stp on

{% endif %}
{% for vid, s in (d.svis | default({})).items() %}
auto vlan{{ vid }}
iface vlan{{ vid }}
    address {{ s.ip }}
    vlan-id {{ vid }}
    vlan-raw-device bridge

{% endfor %}
