{# NVUE CLI commands equivalent to the JSON sent by apply_intent.py #}
nv set system hostname {{ d.hostname | default(name) }}
{% if d.loopback is defined %}
nv set interface lo ip address {{ d.loopback }}
{% endif %}
{% if d.vlans is defined %}
nv set bridge domain br_default vlan {{ d.vlans | join(',') }}
{% endif %}
{% for ifname, i in (d.interfaces | default({})).items() %}
{% if i.description is defined %}
nv set interface {{ ifname }} description "{{ i.description }}"
{% endif %}
{% set mode = i.mode | default('routed' if i.ip is defined else '') %}
{% if mode == 'access' %}
nv set interface {{ ifname }} bridge domain br_default access {{ i.vlan }}
{% elif mode == 'trunk' %}
nv set interface {{ ifname }} bridge domain br_default vlan {{ i.vlans | join(',') }}
{% elif mode == 'routed' %}
nv set interface {{ ifname }} ip address {{ i.ip }}
{% endif %}
{% endfor %}
{% for vid, s in (d.svis | default({})).items() %}
nv set interface vlan{{ vid }} ip address {{ s.ip }}
{% endfor %}
{% if d.ospf is defined %}
nv set router ospf enable on
nv set vrf default router ospf router-id {{ d.ospf.router_id }}
{% for ifname, o in d.ospf.interfaces.items() %}
nv set interface {{ ifname }} router ospf area {{ o.area }}
{% if o.network_type is defined %}
nv set interface {{ ifname }} router ospf network-type {{ o.network_type }}
{% endif %}
{% if o.passive | default(false) %}
nv set interface {{ ifname }} router ospf passive on
{% endif %}
{% endfor %}
{% endif %}
{% if d.bgp is defined %}
nv set router bgp autonomous-system {{ d.bgp.asn }}
nv set router bgp router-id {{ d.bgp.router_id }}
{% for peer, n in (d.bgp.neighbors | default({})).items() %}
nv set vrf default router bgp neighbor {{ peer }} remote-as {{ n.remote_as }}
{% if n.update_source is defined %}
nv set vrf default router bgp neighbor {{ peer }} update-source {{ n.update_source }}
{% endif %}
{% if n.next_hop_self | default(false) %}
nv set vrf default router bgp neighbor {{ peer }} address-family ipv4-unicast nexthop-setting self
{% endif %}
{% endfor %}
{% for net in d.bgp.networks | default([]) %}
nv set vrf default router bgp address-family ipv4-unicast network {{ net }}
{% endfor %}
{% endif %}
nv config apply -y
